.recent-posts-widget
  ul
    padding 0
    margin 0
    list-style-position inside
    list-style-type katakana
    li
      padding 10px 0
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      border-bottom 1px dashed lighten(main-color, 20%)
      a
        color darken(font-color, 20%)
        font-size 14px