<% if (site.posts.length){ %>
  <div class="widget-wrap archive-widget">
    <h3 class="widget-title"><%= __('archive_a') %></h3>
    <div class="widget">
      <%- list_archives({show_count: theme.archive.show_count, type: theme.archive.archive_type, format: 'YYYY-MM-DD'}) %>
    </div>
  </div>
<% } %>
