.widget-wrap
  margin 20px 0 0
  .widget-title
    font-size 16px
    margin 0
    border-bottom 1px solid lighten(main-color, 10%)
    padding 10px 5px
  .widget
    padding 20px 0
    border-top 1px solid lighten(main-color, 20%)

@import "_widget/author"
@import "_widget/tag"
@import "_widget/archive"