@import "normalize.css"
@import "vs.css"
@import "mixins"
@import "variables"
@import "font/iconfont.css"
*
  box-sizing border-box
html,body
  min-height 100%
  height 100%
.q::after
  content ''
  display table
  clear both
body
  padding 0
  margin 0
  background-color lighten(main-color, 10%)
  color font-color
a
  color link-color
  text-decoration none
  &:hover
    text-decoration none
    color lighten(link-color, 20%)

@import "layout"
@import "sidebar"

