<!--
 * @Author       : qwguo
 * @description  : description
 * @Date         : 2020-03-18 23:45:30
 * @LastEditors  : qwguo
 * @LastEditTime : 2020-03-21 16:28:10
 * @FilePath     : \qwguo\themes\qwguo\layout\categories.ejs
 -->
 <div class="categories-page-main">
  <%- list_categories({show_count: theme.show_count}) %>
</div>
