<!--
 * @Author: your name
 * @Date: 2019-12-25 09:30:25
 * @LastEditTime : 2020-03-18 11:47:38
 * @LastEditors  : qwguo
 * @Description: In User Settings Edit
 * @FilePath     : \qwguo\themes\qwguo\layout\index.ejs
 -->
<div class="index-page-main" id="indexPageMain">
  <%- partial('_partial/post/postExcerpt', {item: page.posts, pageType: 'index'})%>

<% if (page.total > 1){ %>
  <div class="paginator">
    <%- paginator({
      total: 6,
      prev_text: '<span></span>Prev',
      next_text: 'Next<span></span>'
    }) %>
  </div>
<% } %>
</div>
