<div class="index-main">
  <% var a = false; %>
  <% site.posts.forEach(function(post, index){ %>
    <% if(!a && index === 1){
      console.log(index);
      a = true;
      console.log("path_______"+ post.path)
      console.log("permalink_______"+ post.permalink)
      console.log("full_source_______"+ post.full_source)
      console.log("asset_dir_______"+ post.asset_dir)
      console.log("tags_______"+ post.tags)
      console.log("categories_______"+ post.categories)

      post.tags.forEach((tag)=>{
        console.log(tag.name)
      })
      post.categories.data.forEach((category)=>{
        console.log('category---'+category.name)
      })

    } %>
    <div class="post-item">
      <h2><a href="<%- post.path %>"></a></h2>
      <div><%- post.excerpt %></div>

    </div>
<% }); %>
</div>
