<!--
 * @Author       : qwguo
 * @description  : description
 * @Date         : 2020-03-17 17:02:46
 * @LastEditors  : qwguo
 * @LastEditTime : 2020-03-19 00:04:27
 * @FilePath     : \qwguo\themes\qwguo\layout\tag.ejs
 -->

 <div class="tag-post-page-main" id="tagPageMain">
  <%- partial('_partial/post/postExcerpt', {item: page.posts, pageType: 'tag'})%>
</div>
