.crumbs-box
  padding 10px 0 20px
  color darken(font-color, 30%)
  span
    .iconfont
      font-size 22px
      margin-right 10px
  a
    color darken(font-color, 30%)
    &:hover
      color darken(font-color, 10%)
  &:first-child
    a
      font-size 20px

  em
    font-style normal
    margin 0 10px
    &::after
      content '\27A4'
      font-size 22px
      color darken(font-color, 60%)
  b
    font-size 18px
    font-weight 400
