transition(n)
  -webkit-transition n
  -moz-transition n
  -ms-transition n
  -o-transition n
  transition n
radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  -ms-border-radius n
  -o-border-radius n
  border-radius n
boxShadow(n)
  -webkit-box-shadow n
  -moz-box-shadow n
  -ms-box-shadow n
  -o-box-shadow n
  box-shadow n
transform(n)
  -webkit-transform n
  -moz-transform n
  -ms-transform n
  -o-transform n
  transform n

