<!--
 * @Author       : qwguo
 * @description  : description
 * @Date         : 2020-03-08 21:57:41
 * @LastEditors  : qwguo
 * @LastEditTime : 2020-05-24 23:00:36
 * @FilePath     : \blog\themes\qwguo\layout\_partial\post\toc.ejs
 -->
<div class="article-doc" id="docBox">
  <span class="close-doc" id="closeDoc"></span>
  <h3>目录</h3>
  <%- toc(item.content) %>
</div>
